@import "tailwindcss";

@font-face {
  font-family: 'CaveatBrush';
  src: url('/public/font/CaveatBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}